.container-sidebar {
  width: 15vw;
  min-height: 100vh;
  background-color: #172144;
}

.logo-img {
  width: 90%;
}

.buttons {
  align-items: flex-start;
  border: none;
  width: 100%;
}

.title-friends {
  text-align: left;
  color: lightgray;
}

.img-friends {
  border-radius: 1000px;
  height: 35px;
  width: 35px;
  border: solid 1px rgb(230, 0, 126);
  object-fit: cover;
}

.name-friends {
  font-size: 1rem;
  color: darkgray;
  margin: auto;
}

.icon-logout {
  font-size: 2rem;
  color: darkgray;
}

.float {
  float: left;
}

.hr-color {
  background-color: gray;
}
